/* Global */
* {
  font-family: system-ui;
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}

body {
  background-color: #cddee5;
  overflow: hidden;
}

.intro-guide {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #00000080;
  pointer-events: none;
}

.intro-guide p {
  text-align: center;
  color: #c1c1c1;
  vertical-align: middle;
  line-height: 100vh;
  font-size: 1.5rem;
}

#content-wrapper {
  width: 1010px;
  height: 75vh;
  top: 20%;
  box-shadow: #00000059 1px 1px 3px 0px;
  overflow: hidden;
}

#worldsvg {
  width: 100vw;
  height: 100vh;
  margin: auto;
  cursor: grab;
}

#worldsvg:active {
  cursor: grabbing;
}

.land {
  fill: #ffffff;
}

.countryWithAreas {
  width: 100%;
  height: 140%;
  cursor: auto;
}

/* Tooltip text */
.tooltip {
  visibility: hidden;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  background-color: #0000009a;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 15px;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -180%);
  pointer-events: none;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: #0000009a transparent transparent transparent;
}

/* Country popup */
.popup {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
  background-color: #cddee5;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  height: 70%;
  overflow: hidden;
  text-align: center;
}

.svg-container {
  height: 70%;
}

.svgfile {
  width: 600px;
  height: 600px;
  transform: scale(0.8);
}

.siteLink {
  all: unset;
  cursor: pointer;
  color: white;
  padding: 8px 12px;
  border-radius: 3px;
  box-shadow: #0000002c 0px 1px 3px 0px;
  background-color: rgb(42, 74, 58);
  transition: .2s;
}

.siteLink:hover {
  background-color: rgb(58, 100, 79);
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}