/* Global */
* {
  font-family: system-ui;
}

.hide {
  display: none;
}

body {
  margin: 0;
  background-color: rgba(255,255,255,0);
}

#content-wrapper {
  width: 1010px;
  height: 75vh;
  top: 20%;
  box-shadow: #00000059 1px 1px 3px 0px;
  overflow: hidden;
}

svg {
  width: 100vw;
  height: 100vh;
  margin: auto;
  cursor: grab;
}

svg:active {
  cursor: grabbing;
}

.land {
  fill: rgb(184, 184, 184);
}

/* LANDE */
#AR,
#AU,
#CA,
#CL,
#FR,
#GR,
#IT,
#NZ,
#PT,
#RO,
#ES,
#ZA,
#DE,
#UY,
#US,
#AT,
#DK,
#IE,
#IS,
#MX,
#CH,
#GB,
/*AREAS*/
#FR-07,
#FR-67,
#FR-68,
#FR-83,
#FR-04,
#FR-05,
#FR-06,
#FR-13,
#FR-84,
#FR-33,
#FR-21,
#FR-71,
#FR-51,
#FR-31,
#FR-32,
#FR-40,
#FR-65,
#FR-39,
#FR-11,
#FR-12,
#FR-30,
#FR-34,
#FR-66,
#FR-37,
#FR-41,
#FR-44,
#FR-45,
#FR-49,
#FR-69,
#IT_65,
#IT-75,
#IT-72,
#IT-45,
#IT-36,
#IT-25,
#IT-57,
#IT-21,
#IT-88,
#IT-82,
#IT-52,
#IT-32,
#IT-55,
#IT-34,
#ES-A,
#ES-LE,
#ES-MA,
#ES-PM,
#ES-SG,
#ES-LO,
#ES-V,
#ES-ZA,
#US-CA,
#US-OR,
#AU-SA,
#AU-VIC,
#CL-LI,
#CL-VS,
#AR-A,
#AR-M,
#AR-R,
#AR-U,
#DE-RP,
#DE-BW,
#NZ-HKB,
#NZ-MBH,
#NZ-OTA,
#PT-13,
#PT-18,
#AT-1,
#AT-6,
#ZA-WC,
#IE-D,
#GB-NIR,
#DK-85,
#DK-83,
#RO-PH,
#UY-MA,
#IS-1,
#MX-JAL,
#MX-DF,
#CH-ZG,
#GB-UKN,
#GB-UKJ {
  fill: rgb(42, 74, 58);
  cursor: pointer;
  transition: .2s;
}

/* LANDE */
#AR:hover,
#AU:hover,
#CA:hover,
#CL:hover,
#FR:hover,
#GR:hover,
#IT:hover,
#NZ:hover,
#PT:hover,
#RO:hover,
#ES:hover,
#ZA:hover,
#DE:hover,
#UY:hover,
#US:hover,
#AT:hover,
#DK:hover,
#IE:hover,
#IS:hover,
#MX:hover,
#CH:hover,
#GB:hover,
/*AREAS*/
#FR-07:hover,
#FR-67:hover,
#FR-68:hover,
#FR-83:hover,
#FR-04:hover,
#FR-05:hover,
#FR-06:hover,
#FR-13:hover,
#FR-84:hover,
#FR-33:hover,
#FR-21:hover,
#FR-71:hover,
#FR-51:hover,
#FR-31:hover,
#FR-32:hover,
#FR-40:hover,
#FR-65:hover,
#FR-39:hover,
#FR-11:hover,
#FR-12:hover,
#FR-30:hover,
#FR-34:hover,
#FR-66:hover,
#FR-37:hover,
#FR-41:hover,
#FR-44:hover,
#FR-45:hover,
#FR-49:hover,
#FR-69:hover,
#IT_65:hover,
#IT-75:hover,
#IT-72:hover,
#IT-45:hover,
#IT-36:hover,
#IT-25:hover,
#IT-57:hover,
#IT-21:hover,
#IT-88:hover,
#IT-82:hover,
#IT-52:hover,
#IT-32:hover,
#IT-55:hover,
#IT-34:hover,
#ES-A:hover,
#ES-LE:hover,
#ES-MA:hover,
#ES-PM:hover,
#ES-SG:hover,
#ES-LO:hover,
#ES-V:hover,
#ES-ZA:hover,
#US-CA:hover,
#US-OR:hover,
#AU-SA:hover,
#AU-VIC:hover,
#CL-LI:hover,
#CL-VS:hover,
#AR-A:hover,
#AR-M:hover,
#AR-R:hover,
#AR-U:hover,
#DE-RP:hover,
#DE-BW:hover,
#NZ-HKB:hover,
#NZ-MBH:hover,
#NZ-OTA:hover,
#PT-13:hover,
#PT-18:hover,
#AT-1:hover,
#AT-6:hover,
#ZA-WC:hover,
#IE-D:hover,
#GB-NIR:hover,
#DK-85:hover,
#DK-83:hover,
#RO-PH:hover,
#UY-MA:hover,
#IS-1:hover,
#MX-JAL:hover,
#MX-DF:hover,
#CH-ZG:hover,
#GB-UKN:hover,
#GB-UKJ:hover {
  fill: rgb(106, 168, 137);
}

.countryWithAreas {
  width: 100%;
  height: 100%;
  cursor: auto;
}

/* Tooltip text */
.tooltip {
  visibility: hidden;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  background-color: #0000009a;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 15px;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -180%);
  pointer-events: none;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: #0000009a transparent transparent transparent;
}

/* Country popup */
.popup {
    display: none;
    position: fixed;
    /* z-index: 2; */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 650px;
  height: 650px;
  overflow: hidden;
  text-align: center;
}

.svg-container {
  height: 80%;
}

.svgfile {
  width: 600px;
  height: 600px;
  transform: scale(0.8);
}

.siteLink {
  all: unset;
  cursor: pointer;
  color: white;
  padding: 8px 12px;
  border-radius: 3px;
  box-shadow: #0000002c 0px 1px 3px 0px;
  background-color: rgb(42, 74, 58);
  transition: .2s;
}

.siteLink:hover {
  background-color: rgb(58, 100, 79);
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}